# Pandas Exercise 04 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [3]:
chipo["price"] = chipo["item_price"].apply(lambda x: float(x[1:-1]))
chipo[chipo["price"] > 10.00].item_name.value_counts().count()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [10]:
chipo.drop_duplicates(["item_name"]).sort_values("price", ascending=False)[["item_name", "item_price"]]

                                  item_name item_price
281                        Steak Salad Bowl    $23.78
445                                    Bowl    $22.20
4                              Chicken Bowl    $16.98
1229                    Barbacoa Salad Bowl    $11.89
1132                    Carnitas Salad Bowl    $11.89
7                             Steak Burrito    $11.75
39                            Barbacoa Bowl    $11.75
168                   Barbacoa Crispy Tacos    $11.75
186                       Veggie Salad Bowl    $11.25
738                       Veggie Soft Tacos    $11.25
57                           Veggie Burrito    $11.25
62                              Veggie Bowl    $11.25
250                           Chicken Salad    $10.98
92                       Steak Crispy Tacos     $9.25
237                     Carnitas Soft Tacos     $9.25
554                   Carnitas Crispy Tacos     $9.25
8                          Steak Soft Tacos     $9.25
56                      Barbacoa Soft Tacos     $9.25
54                               Steak Bowl     $8.99
664                             Steak Salad     $8.99
3750                         Carnitas Salad     $8.99
33                            Carnitas Bowl     $8.99
27                         Carnitas Burrito     $8.99
21                         Barbacoa Burrito     $8.99
44                       Chicken Salad Bowl     $8.75
11                     Chicken Crispy Tacos     $8.75
12                       Chicken Soft Tacos     $8.75
16                          Chicken Burrito     $8.49
1694                           Veggie Salad     $8.49
1653                    Veggie Crispy Tacos     $8.49
1414                                  Salad     $7.40
520                            Crispy Tacos     $7.40
510                                 Burrito     $7.40
298                       6 Pack Soft Drink     $6.49
10                      Chips and Guacamole     $4.45
2                          Nantucket Nectar     $3.39
1                                      Izze     $3.39
674       Chips and Mild Fresh Tomato Salsa     $3.00
233      Chips and Roasted Chili Corn Salsa     $2.95
111     Chips and Tomatillo Red Chili Salsa     $2.95
38    Chips and Tomatillo Green Chili Salsa     $2.95
300     Chips and Tomatillo-Red Chili Salsa     $2.39
191      Chips and Roasted Chili-Corn Salsa     $2.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
0              Chips and Fresh Tomato Salsa     $2.39
18                              Canned Soda     $2.18
40                                    Chips     $2.15
6                             Side of Chips     $1.69
263                       Canned Soft Drink     $1.25
34                            Bottled Water     $1.09

### Step 6. Sort by the name of the item

In [12]:
chipo.drop_duplicates(["item_name"]).sort_values("item_name").item_name

298                         6 Pack Soft Drink
39                              Barbacoa Bowl
21                           Barbacoa Burrito
168                     Barbacoa Crispy Tacos
1229                      Barbacoa Salad Bowl
56                        Barbacoa Soft Tacos
34                              Bottled Water
445                                      Bowl
510                                   Burrito
18                                Canned Soda
263                         Canned Soft Drink
33                              Carnitas Bowl
27                           Carnitas Burrito
554                     Carnitas Crispy Tacos
3750                           Carnitas Salad
1132                      Carnitas Salad Bowl
237                       Carnitas Soft Tacos
4                                Chicken Bowl
16                            Chicken Burrito
11                       Chicken Crispy Tacos
250                             Chicken Salad
44                         Chicken Salad Bowl
12                         Chicken Soft Tacos
40                                      Chips
0                Chips and Fresh Tomato Salsa
10                        Chips and Guacamole
674         Chips and Mild Fresh Tomato Salsa
233        Chips and Roasted Chili Corn Salsa
191        Chips and Roasted Chili-Corn Salsa
38      Chips and Tomatillo Green Chili Salsa
111       Chips and Tomatillo Red Chili Salsa
3       Chips and Tomatillo-Green Chili Salsa
300       Chips and Tomatillo-Red Chili Salsa
520                              Crispy Tacos
1                                        Izze
2                            Nantucket Nectar
1414                                    Salad
6                               Side of Chips
54                                 Steak Bowl
7                               Steak Burrito
92                         Steak Crispy Tacos
664                               Steak Salad
281                          Steak Salad Bowl
8                            Steak Soft Tacos
62                                Veggie Bowl
57                             Veggie Burrito
1653                      Veggie Crispy Tacos
1694                             Veggie Salad
186                         Veggie Salad Bowl
738                         Veggie Soft Tacos
Name: item_name, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [26]:
item = chipo.drop_duplicates(["item_name"]).sort_values("price", ascending=False)["item_name"].values[0]
chipo[chipo["item_name"] == item].quantity.sum()

31

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [27]:
item = "Veggie Salad Bowl"
chipo[chipo["item_name"] == item].quantity.sum()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [31]:
item = "Canned Soda"
temp = chipo[chipo["item_name"] == item]
temp[temp["quantity"] > 1].order_id.count()

20